.DS_Store
__pycache__
/sftp-config.json
*.sublime-project
*.sublime-workspace
TODO
.vscode
.pytest_cache
/node_modules/
/venv/
.nova/

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json

